extends layout

block content
  h1.title.short-form
    if step == 'account'
      | Create your account
    else if step == 'profile'
      | Vendor Console Application
  section.form(class={'account': step == 'account', 'profile': step == 'profile'})
    if error
      p.error= error

    case step
      when 'account'
        form(method='POST', action=`/vendors/signup?signupToken=${signupToken}`, autocomplete='off')
          fieldset
            .row(label='Email')
              input(type='email', name='email', placeholder='jane@example.com', required, autofocus)
          input.primary(type='submit', value='Continue')

      when 'profile'
        form(method='POST', action=`/vendors/signup?signupToken=${signupToken}`, autocomplete='off')
          h4.vendor-header Account Type
            .vendor-options
              label.vendor-option
                input(type='radio', name='accountType', value='company', id='po-company', checked=true)
                span Business
              label.vendor-option
                input(type='radio', name='accountType', value='individual', id='po-individual')
                span Individual
          h4.vendor-header#account-info Personal information
          fieldset
            .row.vendor-info.company(label='* Company Name')
              input(type='text', name='businessName', placeholder='Infinity & Beyond LLC')
            .row.vendor-info.individual.hidden(label='* First Name')
              input(type='text', name='firstName', placeholder='Jane')
            .row.vendor-info.individual.hidden(label='* Last Name')
              input(type='text', name='lastName', placeholder='Diaz')
            .row.vendor-info.individual.hidden(label='* Phone Number')
              input(type='tel', id='phone-individual' name='phoneNumber', placeholder='(111)-111-1111')

            .row.vendor-info.company(label='* Point of Contact First Name')
              input(type='text', name='firstName', placeholder='Jane')
            .row.vendor-info.company(label='* Point of Contact Last Name')
              input(type='text', name='lastName', placeholder='Diaz')
            .row.vendor-info.company(label='* Phone Number')
              input(type='tel', id='phone-company' name='phoneNumber', placeholder='(111)-111-1111')
            .row.select(label='Country')
              select(name='country')
                //-                 option(value='AU') Australia
                //-                 option(value='AT') Austria
                //-                 option(value='BE') Belgium
                //-                 option(value='BG') Bulgaria
                //-                 option(value='CA') Canada
                //-                 option(value='CY') Cyprus
                //-                 option(value='CZ') Czech Republic
                //-                 option(value='DK') Denmark
                //-                 option(value='EE') Estonia
                //-                 option(value='FI') Finland
                //-                 option(value='FR') France
                //-                 option(value='DE') Germany
                //-                 option(value='GR') Greece
                //-                 option(value='HK') Hong Kong SAR China
                //-                 option(value='IE') Ireland
                //-                 option(value='IT') Italy
                //-                 option(value='JP') Japan
                //-                 option(value='LV') Latvia
                //-                 option(value='LT') Lithuania
                //-                 option(value='LU') Luxembourg
                //-                 option(value='MT') Malta
                //-                 option(value='NL') Netherlands
                //-                 option(value='NZ') New Zealand
                //-                 option(value='NO') Norway
                //-                 option(value='PL') Poland
                //-                 option(value='PT') Portugal
                //-                 option(value='RO') Romania
                //-                 option(value='SG') Singapore
                //-                 option(value='SK') Slovakia
                //-                 option(value='SI') Slovenia
                //-                 option(value='ES') Spain
                //-                 option(value='SE') Sweden
                //-                 option(value='CH') Switzerland
                //-                 option(value='GB') United Kingdom
                option(value='US', selected=true) United States
          aside * Indicates required fields

          div#athlete-section.hidden
            h4.vendor-header Are you registering as an athlete?
              .vendor-options
                label.vendor-option
                  input(type='radio', name='individualType', value=false, id='no-athlete')
                  span No
                label.vendor-option
                  input(type='radio', name='individualType', value=true, id='yes-athlete')
                  span Yes

          h4 Payment information
          .stripe-information
            p We use Stripe to make sure you get paid on time and to keep your personal bank and details secure. Click #[strong Save and continue] to set up your payments on Stripe.
            
          input.primary(type='submit', value='Save and continue')

      when 'payments'
        h1.title Connect your account to Stripe
        p We use Stripe to make sure you get paid on time and keep your personal and bank details secure.
        a.button.primary(href=`/vendors/stripe/authorize?signupToken=${signupToken}`) Set up payments


block footer
  .annotation.info

    case step
      when 'account'
        p Welcome to the Cashboard Vendor Console application page. Please submit your email so we can get started with some additional information and get you onboarded. If you have time, take a look at our Privacy Policy and Terms of Service.

//-       when 'profile'
//-         p
//-
//-       when 'payments'
//-         p